* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(123,247,109);
    background: linear-gradient(90deg, rgba(123,247,109,1) 20%, rgba(0,176,177,1) 59%);
}

form, div {
    width: 40%;
    min-width: 350px;
    background: linen;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0, 0.4);
    margin: 100px auto;
    padding: 20px;
}

input, textarea {
    min-width: 320px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    margin-top: 20px;
    height: 40px;
    padding-left: 10px;
}

textarea {
    height: 200px;
    padding-top: 10px;
}

button {
    display: block;
    margin: 20px auto;
    height: 40px;
    min-width: 320px;
    border: none;
    border-radius: 5px;
    background: green;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    margin: 10px;
}

.pato {
    display: block;
    margin: 20px auto;
}